[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[dev-packages]



[packages]

dnslib = "==0.9.7"
requests = "==2.20.0"
Twisted = "==14.0.2"
python-twitter = "==3.1"
certifi = "*"
"urllib3" = "*"
pika = "==0.10.0"
pylint = "*"
"autopep8" = "*"


[requires]

python_version = "2.7"
